.bg-slide {
	height: 100%;
	min-height: 850px;
	margin: 0 auto;
	width: 100%;
	max-width: 1920px;
	position: relative;
  box-shadow: rgba(0,0,0,.3) 0px 57px 50px -50px inset;
  overflow: hidden;
}

.bg-slide article {
  position: absolute;
  text-align: center;
  top: 180px;
  width: 100%;
}

.bg-slide article .content {
	width: 870px;
	margin: 0 auto;
	display: table;
}
.bg-slide article .content .information {
	text-align: left;
}
.bg-slide article .content h1 {
	text-align: left;
	font: normal 40px Marmelad;
	text-transform: uppercase;
	margin: 0;
}

.bg-slide.slide-1 {
	background: url("../images/slides/slide-1.jpg") center 0 repeat fixed;
}
.bg-slide.slide-2 {
	background: url("../images/slides/slide-2.jpg") center 0 repeat fixed;
}
.bg-slide.slide-3 {
	background: url("../images/slides/slide-3.jpg") center 0 repeat fixed;
}
.bg-slide.slide-4 {
	background: url("../images/slides/slide-4.jpg") center 0 repeat fixed;
}
.bg-slide.slide-5 {
	background: url("../images/slides/slide-5.jpg") center 0 repeat fixed;
}

.slide-1 .preferences {
	margin-top: 60px;
}
.slide-1 .preferences .item {
	width: 230px;
	display: inline-block;
	margin-bottom: 7px;
	font: normal 12px Arial;
}
.slide-1 .preferences .item.films { color: #0ba758; }
.slide-1 .preferences .item.likes { color: #fe5b18; }
.slide-1 .preferences .item.music { color: #027aa0; }
.slide-1 .preferences .item.posts { color: #094aa1; }
.slide-1 .preferences .item.checkins { color: #fe5b18; }
.slide-1 .preferences .item.friends { color: #018241; }
.slide-1 .preferences .item img {
	vertical-align: middle;
	margin-right: 20px;
}

.slide-2 h1 {
	color: white;
}
.slide-2 h3 {
	font: normal 24px "Marmelad";
	color: white;
}

.slide-3 h1 {
	color: white;
}
.slide-3 p {
	color: white;
	font: normal 12px/20px Arial;
	width: 365px;
	float: left;
}

.slide-4 .information {
	position: absolute;
	padding-left: 335px;
}
.slide-4 p {
	color: #000;
	font: normal 12px/20px Arial;
	width: 250px;
}

.slide-5 p {
	color: rgba(0, 0, 0, .75);
	font: normal 12px/20px Arial;
	width: 365px;
	float: left;
}
.slide-5 p b {
	color: #000;
	padding-bottom: 10px;
}