@media screen and (min-width: 1200px) {
	header .container {
		width: 1200px;
		margin: 0 auto;
	}
	footer .container {
		width: 1200px;
	}
}

@media screen and (min-width: 800px) {
	.bg-download {
		background: url("../images/dwnld_bg.png") no-repeat left 50% bottom -150px;
	}
}