@font-face {
	font-family: "HelveticaNeueCyrMedium";
	src: url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Medium.otf") format("opentype");
}
@font-face {
	font-family: "HelveticaNeueCyrUltraLight";
	src: url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-UltraLight.otf") format("opentype");
}
@font-face {
	font-family: "HelveticaNeueCyrLight";
	src: url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.otf") format("opentype");
}
@font-face {
	font-family: "HelveticaNeueCyrThin";
	src: url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Thin.otf") format("opentype");
}
@font-face {
	font-family: "HelveticaNeueCyrBold";
	src: url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold.otf") format("opentype");
}
@font-face {
	font-family: "HelveticaNeueCyrRoman";
	src: url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.otf") format("opentype");
}

/*---------------*/
/* Global Styles */
/*---------------*/
body { margin: 0; }

html, body {
	height: 100%;
	background-color: #dae6ea;
}

.bg-home {
	background: url("../images/main_bg.jpg") no-repeat 50% top;
}

.bg-download {
	background: url("../images/dwnld_bg.png") no-repeat left 50% bottom -150px;
	min-height: 100%;
	width: 100%;
	padding-top: 100px;
	box-sizing: border-box;
	margin-top: -1px;
}

body.bg-main {
	background: #dae6ea;
}

/*---------------*/
/* Header Styles */
/*---------------*/
header {
	background-color: #ffffff;
	height: 99px;
}
header .container {
	margin: 0 auto;
}

header.adaptive .container {
	max-width: 100%;
	padding: 0 30px;
}

header nav#navigation {
	display: inline-block;
}
header nav#navigation a {
	color: #007ca4;
	text-decoration: underline;
	font: normal 10px/99px "Open Sans", Arial, Helvetica;
	text-transform: uppercase;
	padding: 0 21px;
	letter-spacing: 2px;
}
header nav#navigation a:hover {
	color: #f15c24;
	text-decoration: none;
}
header nav#navigation a.active {
	color: #666666;
	text-decoration: none;
}

header nav#download {
	float: right;
	margin-top: 28px;
}
header nav#download a {
	float: left;
	margin-left: 11px;
}

.myfun-logotype {
	float: left;
	margin-top: 33px;
}

/*----------------*/
/* Content Styles */
/*----------------*/
section {
	/*height: 100%;*/
	width: 100%;
}
#container {
	margin-top: -100px;
	min-height: 100%;
	padding-top: 100px;
	width: 100%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
}
/*.footer-guarantor {
	clear: both;
	height: 50px;
}*/

/*---------------*/
/* Footer Styles */
/*---------------*/
footer {
	clear: both;
	height: 50px;
	width: 100%;
	position: absolute;
	background: transparent;
	border-top: 1px solid rgba(255, 255, 255, .29);
	margin-top: -50px;
}

footer .container {
	margin: 0 auto;
	font: normal 12px/50px Arial, Helvetica;
	color: #ffffff;
}
footer .container .socials {
	float: right;
	height: 30px;
	margin-top: 10px;
}
footer .container .socials a {
	margin-left: 5px;
}

/*-----------------*/
/* Specific Styles */
/*-----------------*/
.button {
	height: 67px;
	line-height: 67px;
	padding: 0 67px 0 25px;
	border-radius: 10px;
	font-size: 24px;
	font-family: Helvetica;
	text-decoration: none;
}

.button.green {
	background-color: #018241;
	color: #ffffff;
}

.button.go {
	background-image: url("../images/icons/go.png");
	background-repeat: no-repeat;
	background-position: top 10px right 15px;
}

.slide-centered-image {
	margin: 0 auto -1px;
	display: block;
}

/*---------*/
/* Headers */
/*---------*/
hgroup.home-header {
	margin-bottom: 40px;
}
hgroup.home-header h1 {
	text-align: center;
	margin: 0;
	padding: 118px 0 13px;
	font: normal 60px Marmelad, sans-serif;
	color: white;
	text-shadow: 0 1px 1px rgba(0,0,0,.35);
}
hgroup.home-header h3 {
	text-align: center;
	font: normal 24px Marmelad, sans-serif;
	color: white;
	margin: 7px 0;
}

h1.alone-header {
	margin: 0;
	padding-top: 105px;
	text-align: center;
	font: normal 40px Marmelad;
	text-transform: uppercase;
}

a.big-button .square {
	width: 138px;
	height: 138px;
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, .66);
	margin: 0 auto;
}

a.big-button span {
	font: normal 10px "Open Sans";
	color: white;
	letter-spacing: 2px;
	text-transform: uppercase;
	display: block;
	margin-top: 15px;
}

a.big-button {
	text-decoration: none;
	/*display: table;*/
	text-align: center;
}

a.big-button.capabilities .square {
	background-color: rgba(57, 147, 179, .5);
	background-image: url("../images/icons/big-button-capabilities.png");
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

a.big-button.download .square {
	background-color: rgba(65, 142, 72, .5);
	background-image: url("../images/icons/big-button-download.png");
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.buttons {
	display: table;
	margin: 0 auto;
}

.fl_left {
	float: left;
}
.inline {
	display: inline-block;
}

.fixed {
	position: fixed;
	z-index: 99;
	width: 100%;
}

.absolute {
	position: absolute;
	width: 100%;

}

.buttons-container {
	position: absolute;
	width: 100%;
}

.dwnld-block {
	background: url("../images/dwnld-border.png") no-repeat top left;
	display: block;
	margin: 0 auto;
	width: 620px;
	height: 280px;
	margin-top: 27px;
	padding-bottom: 100px
}

.dwnld-block .dwnld-appstore {
	margin: 134px 0 0 80px;
	float: left;
}
.dwnld-block .dwnld-googleplay {
	margin: 134px 0 0 69px;
	float: left;
}